<div class="row">
  <section class="main col-md-9">
    <article>
      <h2> Created by: Aanand Aman </h2>
      <p>
            I am a passionate and dedicated IT enthusiast driven by a fervent curiosity for technology's boundless possibilities. 
            Armed with a robust foundation in IT, I bring a diverse skill set encompassing programming proficiency in languages like C, 
            C++, Python, and JavaScript, coupled with adeptness in database management using Oracle12c and SQL Developer. My experience 
            extends into web development technologies like HTML5, CSS3, Node.js, Express.js, React.js and Next.js, complemented by familiarity 
            with design and IDE tools such as Visual Studio Code, Git and GitHub. My versatility across operating systems like Windows, UNIX/Linux, 
            and Macintosh equips me to tackle a wide spectrum of IT challenges with ease.
      </p>
      <p>
        Throughout my academic journey, I have showcased my technical prowess through diverse projects, from crafting a Valet Parking Application, Library Application,
         Assembly-Line-Simulation, Store Info Provider and many more in C++ 
        aimed at enhancing customer experiences to developing an Employee Management Application integrating C++ and SQL Database for efficient system implementation.
         Additionally, my creation of the "BlogPage-Web-App" using Node.js and Express.js highlighted my adeptness in secure user authentication, cloud-based image 
         storage, and efficient data management. These experiences have not only honed my problem-solving skills but also fortified my collaborative aptitude within 
         a team setting.
      </p>

      
    </article>
  </section>
  <aside class="col-md-3">
    <h2></h2>
    <p>Outside of my academic pursuits, I've also engaged in practical experiences, currently working as a Security Guard (Concierge) at Probe Investigation & Security 
        Services Ltd. This role has honed my communication skills and ability to work effectively within a team while ensuring security protocols are upheld. I am committed 
         to leveraging my skills and knowledge to contribute meaningfully to a progressive business while gaining invaluable hands-on experience in the ever-evolving realm of 
         technology.</p>
  </aside>
</div>